body{
  background-color: darkslategrey;
  color: black;
  margin: 0;
  padding: 0;

  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style:normal;

}
.title{
  text-align: center;

}

header{
  background-color: rgba(20, 34, 34, 0.65);
  padding: 1rem 2rem;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden ;
}
.navbar a{
  color:rgb(20, 34, 34);
  text-decoration: none;
  padding: 15px;
  margin: 0px;
  display: block;
  text-align: center;

}

.navbar a:hover{
  color: rgba(48, 81, 81, 0.65);
  
}

.navbar li{
  float: left;
}
 footer{
  background-color: rgba(20, 34, 34, 0.65);
  padding: 1rem 2rem;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
 }